<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <display-name>JAX-RS Simple Service</display-name>
    <description>JAX-RS Simple Service</description>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/beans.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
                        org.springframework.web.context.ContextLoaderListener
                </listener-class>
    </listener>
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
                        org.apache.cxf.transport.servlet.CXFServlet
                </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <!-- For security -->
    <!-- Your users and user roles are located in tomcat-users.xml -->
    <!-- When you run this, you will need to find where your configuration is at -->
    <!-- Example locations are:  
    	The place you unpacked tomcat
    	your-Workspace-dir/ProjectName/target
    	An example "tomcat-users.xml" file for this example is located in src/main/java
    -->
    
    <!--
 * references: 
 * https://github.com/kittugit/java
 * http://stackoverflow.com/questions/16433315/can-i-use-rolesallowed-on-restful-resources-implemented-on-apache-cxf -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Hello Services</web-resource-name>
            <url-pattern>/hello/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>hello-user</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>
    
</web-app>
